In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
stats = pd.DataFrame()

In [3]:
for offset in range(0,32):
    # URL page we will scraping (see image above)
    url = "https://www.basketball-reference.com/play-index/psl_finder.cgi?request=1&match=single&type=per_game&per_minute_base=36&per_poss_base=100&lg_id=NBA&is_playoffs=N&year_min=1998&year_max=2020&franch_id=&season_start=1&season_end=2&age_min=0&age_max=99&shoot_hand=&height_min=0&height_max=99&birth_country_is=Y&birth_country=&birth_state=&college_id=&draft_year=&is_active=&debut_yr_nba_start=&debut_yr_nba_end=&is_hof=&is_as=&as_comp=gt&as_val=0&award=&pos_is_g=Y&pos_is_gf=Y&pos_is_f=Y&pos_is_fg=Y&pos_is_fc=Y&pos_is_c=Y&pos_is_cf=Y&qual=&c1stat=&c1comp=&c1val=&c2stat=&c2comp=&c2val=&c3stat=&c3comp=&c3val=&c4stat=&c4comp=&c4val=&c5stat=&c5comp=&c6mult=&c6stat=&order_by=player&order_by_asc=&offset={}".format(str(offset*100))
    # this is the HTML from the given URL
    html = urlopen(url)
    soup = BeautifulSoup(html)
    # use findALL() to get the column headers
    soup.findAll('tr', limit=2)
    # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers[1:]
    # avoid the first header row
    rows = soup.findAll('tr')[1:]
    player_stats = [[td.getText() for td in rows[i].findAll('td')]
                for i in range(len(rows))]
    
    stats = pd.concat([stats, pd.DataFrame(player_stats, columns = headers)]).reset_index(drop=True)

In [4]:
stats = stats[1:]

In [5]:
stats.head(20)

,Season,Age,Tm,Lg,Player,G,GS,MP,FG,FGA,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
1,2016-17,19,LAL,NBA,Ivica Zubac,38,11,16.0,3.3,6.3,...,0.9,0.8,1.7,7.5,.529,.536,.000,.529,.653,.547
2,2017-18,20,LAL,NBA,Ivica Zubac,43,0,9.5,1.4,2.8,...,0.3,0.6,1.1,3.7,.500,.504,.000,.500,.765,.557
3,2018-19,22,CLE,NBA,Ante Žižić,59,25,18.3,3.1,5.6,...,0.4,1.0,1.9,7.8,.553,.553,,.553,.705,.590
4,2017-18,21,CLE,NBA,Ante Žižić,32,2,6.7,1.5,2.1,...,0.4,0.3,0.9,3.7,.731,.731,,.731,.724,.746
5,2017-18,23,CHI,NBA,Paul Zipser,54,12,15.3,1.5,4.3,...,0.3,0.8,1.6,4.0,.346,.355,.336,.425,.760,.445
6,2016-17,22,CHI,NBA,Paul Zipser,44,18,19.2,2.0,5.0,...,0.4,0.9,1.8,5.5,.398,.451,.333,.473,.775,.503
7,2016-17,20,ORL,NBA,Stephen Zimmerman,19,0,5.7,0.5,1.6,...,0.3,0.2,0.9,1.2,.323,.323,,.323,.600,.346
8,2005-06,24,NJN,NBA,Derrick Zimmerman,2,0,16.0,1.0,1.5,...,0.0,2.0,2.0,2.0,.667,.667,,.667,,.667
9,2001-02,24,DAL,NBA,Wang Zhizhi,55,0,10.9,2.0,4.5,...,0.3,0.5,1.5,5.6,.440,.462,.414,.536,.737,.564
10,2000-01,23,DAL,NBA,Wang Zhizhi,5,0,7.6,1.6,3.8,...,0.0,0.2,1.6,4.8,.421,.471,.000,.421,.800,.513
11,2012-13,23,CLE,NBA,Tyler Zeller,77,55,26.4,3.2,7.3,...,0.9,1.2,3.3,7.9,.438,.441,.000,.438,.764,.486
12,2013-14,24,CLE,NBA,Tyler Zeller,70,9,15.0,2.2,4.1,...,0.5,0.9,2.0,5.7,.538,.540,.000,.538,.719,.581
13,2012-13,25,PHO,NBA,Luke Zeller,16,0,3.6,0.6,1.6,...,0.0,0.0,0.3,1.2,.346,.381,.200,.365,,.365
14,2014-15,22,CHO,NBA,Cody Zeller,62,45,24.0,2.8,6.0,...,0.8,1.0,2.5,7.6,.461,.460,1.000,.462,.774,.530
15,2013-14,21,CHA,NBA,Cody Zeller,82,3,17.3,2.1,4.9,...,0.5,1.1,2.1,6.0,.426,.427,.000,.426,.730,.498
16,2008-09,23,LAL,NBA,Sun Yue,10,0,2.8,0.3,1.1,...,0.1,0.3,1.0,0.6,.273,.600,.000,.273,,.273
17,2018-19,20,ATL,NBA,Trae Young,81,81,30.9,6.5,15.5,...,0.2,3.8,1.7,19.1,.418,.477,.324,.480,.829,.539
18,2019-20,21,ATL,NBA,Trae Young,60,60,35.3,9.1,20.8,...,0.1,4.8,1.7,29.6,.437,.501,.361,.519,.860,.595
19,1999-00,23,GSW,NBA,Tim Young,25,0,5.5,0.5,1.6,...,0.0,0.4,0.7,2.2,.333,.333,,.333,.778,.492
20,2007-08,19,PHI,NBA,Thaddeus Young,74,22,21.0,3.6,6.6,...,0.1,0.9,1.7,8.2,.539,.548,.316,.545,.738,.570

In [6]:
stats.shape

(3314, 31)

In [7]:
stats.loc[stats['Player'] == 'Kevin Durant']

,Season,Age,Tm,Lg,Player,G,GS,MP,FG,FGA,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
2469,2008-09,20,OKC,NBA,Kevin Durant,74,74,39.0,8.9,18.8,...,0.7,3.0,1.8,25.3,.476,.486,.422,.510,.863,.577
2470,2007-08,19,SEA,NBA,Kevin Durant,80,80,34.6,7.3,17.1,...,0.9,2.9,1.5,20.3,.430,.455,.288,.451,.873,.519

In [102]:
df = stats.copy()
df.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA',
       '2P', '2PA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FG%', '2P%', '3P%', 'eFG%', 'FT%',
       'TS%'],
      dtype='object')

In [103]:
cols = ['Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       '2P', '2PA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FG%', '2P%', '3P%', 'eFG%', 'FT%',
       'TS%']

In [104]:
for col in cols:
    df[col + '_year1'] = 0
    df[col + '_year2'] = 0

In [105]:
df.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Player', 'G', 'GS', 'MP', 'FG', 'FGA',
       '2P', '2PA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'FG%', '2P%', '3P%', 'eFG%', 'FT%',
       'TS%', 'Age_year1', 'Age_year2', 'Tm_year1', 'Tm_year2', 'G_year1',
       'G_year2', 'GS_year1', 'GS_year2', 'MP_year1', 'MP_year2', 'FG_year1',
       'FG_year2', 'FGA_year1', 'FGA_year2', '2P_year1', '2P_year2',
       '2PA_year1', '2PA_year2', '3P_year1', '3P_year2', '3PA_year1',
       '3PA_year2', 'FT_year1', 'FT_year2', 'FTA_year1', 'FTA_year2',
       'ORB_year1', 'ORB_year2', 'DRB_year1', 'DRB_year2', 'TRB_year1',
       'TRB_year2', 'AST_year1', 'AST_year2', 'STL_year1', 'STL_year2',
       'BLK_year1', 'BLK_year2', 'TOV_year1', 'TOV_year2', 'PF_year1',
       'PF_year2', 'PTS_year1', 'PTS_year2', 'FG%_year1', 'FG%_year2',
       '2P%_year1', '2P%_year2', '3P%_year1', '3P%_year2', 'eFG%_year1',
       'eFG%_year2', 'FT%_year1', 'FT%_year2', 'TS%_year1', 'TS%_year2'],
      dtype='object')

In [106]:
df = df.sort_values(by=['Season'])

In [107]:
df.head()

,Season,Age,Tm,Lg,Player,G,GS,MP,FG,FGA,...,2P%_year1,2P%_year2,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2
449,1997-98,21,LAC,NBA,Maurice Taylor,71,3,21.3,4.5,9.5,...,0,0,0,0,0,0,0,0,0,0
2960,1997-98,26,BOS,NBA,Bruce Bowen,61,9,21.4,2.0,4.9,...,0,0,0,0,0,0,0,0,0,0
1747,1997-98,23,SAC,NBA,Anthony Johnson,77,62,29.4,2.9,7.9,...,0,0,0,0,0,0,0,0,0,0
2977,1997-98,23,CHI,NBA,Keith Booth,6,0,2.8,0.3,1.0,...,0,0,0,0,0,0,0,0,0,0
2007,1997-98,22,CLE,NBA,Cedric Henderson,82,71,30.8,4.2,8.8,...,0,0,0,0,0,0,0,0,0,0

In [108]:
for player in df['Player'].unique():
    playerstats = df.loc[df['Player'] == player].reset_index(drop = True)
    if len(playerstats) < 2:
        df = df.drop(df[df['Player'] == player].index).reset_index(drop = True)
        continue
    else:
        for col in cols:
            df[col + "_year1"][df[df['Player'] == player].index] = playerstats[col][0]
            df[col + "_year2"][df[df['Player'] == player].index] = playerstats[col][1]

/Users/coleleppert/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/coleleppert/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [109]:
df = df.sort_values(by=['Season']).drop_duplicates(subset ="Player",keep='first').reset_index(drop=True)

In [110]:
df.drop(columns=[*cols, 'Season', 'Lg'], inplace = True)

In [111]:
df.head(15)

,Player,Age_year1,Age_year2,Tm_year1,Tm_year2,G_year1,G_year2,GS_year1,GS_year2,MP_year1,...,2P%_year1,2P%_year2,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2
0,Maurice Taylor,21,22,LAC,LAC,71,46,3,45,21.3,...,.476,.463,.000,.167,.476,.461,.709,.728,.521,.505
1,Brandon Williams,22,23,GSW,SAS,9,3,2,0,15.6,...,.317,,.333,,.350,,.500,.500,.357,.568
2,Lawrence Funderburke,27,28,SAC,SAC,52,47,1,2,21.0,...,.496,.565,.143,.200,.491,.560,.679,.708,.534,.597
3,Jerald Honeycutt,23,24,MIL,TOT,38,16,0,0,13.9,...,.424,.267,.377,.294,.473,.359,.621,.700,.497,.412
4,Michael Stewart,22,23,SAC,TOR,81,42,37,2,21.7,...,.480,.415,,,.480,.415,.458,.680,.486,.477
5,Charles O'Bannon,22,23,DET,DET,30,18,0,1,7.8,...,.394,.436,.000,.000,.377,.429,.800,1.000,.423,.470
6,John Thomas,22,23,TOT,TOR,54,39,2,11,9.9,...,.487,.582,,.000,.487,.577,.759,.563,.552,.586
7,Tim Thomas,20,21,PHI,TOT,77,50,48,26,23.1,...,.476,.526,.363,.309,.493,.511,.740,.652,.538,.545
8,Adonal Foyle,22,23,GSW,GSW,55,44,1,0,11.9,...,.408,.430,.000,,.406,.430,.435,.490,.418,.450
9,Rodrick Rhodes,24,25,HOU,TOT,58,13,13,1,18.4,...,.370,.267,.250,.143,.370,.260,.617,.640,.439,.341
10,Tony Battie,21,22,DEN,BOS,65,50,49,15,23.2,...,.452,.525,.214,.000,.449,.519,.702,.672,.477,.541
11,Tariq Abdul-Wahad,23,24,SAC,SAC,59,49,16,49,16.3,...,.414,.443,.211,.286,.409,.442,.672,.691,.456,.486
12,Alvin Williams,23,24,TOT,TOR,54,50,13,45,19.8,...,.457,.415,.321,.333,.459,.430,.722,.846,.504,.477
13,Scot Pollard,22,23,DET,SAC,33,16,0,5,9.6,...,.500,.541,,,.500,.541,.826,.696,.555,.576
14,Mark Pope,25,26,IND,IND,28,4,0,0,6.9,...,.342,.333,.333,.000,.354,.143,.588,.000,.402,.134

In [112]:
df.loc[df['Player'] == 'Kevin Durant']

,Player,Age_year1,Age_year2,Tm_year1,Tm_year2,G_year1,G_year2,GS_year1,GS_year2,MP_year1,...,2P%_year1,2P%_year2,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2
568,Kevin Durant,19,20,SEA,OKC,80,74,80,74,34.6,...,.455,.486,.288,.422,.451,.510,.873,.863,.519,.577

In [113]:
all_stars = pd.DataFrame()

In [114]:

# URL page we will scraping (see image above)
url = "https://www.basketball-reference.com/awards/all_star_by_player.html"
# this is the HTML from the given URL
html = urlopen(url)
soup = BeautifulSoup(html)
# use findALL() to get the column headers
soup.findAll('tr', limit=2)
# use getText()to extract the text we need into a list
headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
# exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
#headers = headers[1:]
# avoid the first header row
rows = soup.findAll('tr')[1:]
players = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]
print(headers)
all_stars = pd.concat([all_stars, pd.DataFrame(players, columns = headers)]).reset_index(drop=True)

['Rk', 'Player', 'Tot', 'NBA', 'ABA']

In [115]:
# List of all all stars in NBA history
all_stars.head()

  Rk               Player Tot NBA ABA
0  1  Kareem Abdul-Jabbar  19  19   0
1  2          Kobe Bryant  18  18   0
2  3        Julius Erving  16  11   5
3  4         LeBron James  16  16   0
4  5           Tim Duncan  15  15   0

In [116]:
allStarDict = {}
for player, num in zip(all_stars['Player'], all_stars['Tot']):
    allStarDict[player] = num

In [117]:
df['all_star'] = df['Player'].apply(lambda x: 1 if x in allStarDict else 0)

In [118]:
df[df['all_star'] == 1]

,Player,Age_year1,Age_year2,Tm_year1,Tm_year2,G_year1,G_year2,GS_year1,GS_year2,MP_year1,...,2P%_year2,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2,all_star
16,Tim Duncan,21,22,SAS,SAS,82,50,82,50,39.1,...,.498,.000,.143,.549,.495,.662,.690,.577,.541,1
40,Zydrunas Ilgauskas,22,23,CLE,CLE,82,5,81,5,29.0,...,.509,.250,,.519,.509,.762,.600,.564,.541,1
44,Tracy McGrady,18,19,TOR,TOR,64,49,17,2,18.4,...,.457,.341,.229,.467,.447,.712,.726,.505,.504,1
51,Chauncey Billups,21,22,TOT,DEN,80,45,70,41,27.7,...,.408,.329,.362,.445,.472,.850,.913,.516,.547,1
61,Vince Carter,22,23,TOR,TOR,50,82,49,82,35.2,...,.475,.288,.403,.463,.493,.761,.791,.516,.543,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,Ben Simmons,21,22,PHI,PHI,81,79,81,79,33.7,...,.566,.000,.000,.545,.563,.560,.600,.557,.582,1
1222,Jayson Tatum,19,20,BOS,BOS,80,79,80,79,30.5,...,.483,.434,.373,.538,.506,.826,.855,.586,.547,1
1237,Donovan Mitchell,21,22,UTA,UTA,79,77,71,77,33.4,...,.468,.340,.362,.506,.493,.805,.806,.541,.537,1
1270,Trae Young,20,21,ATL,ATL,81,60,81,60,30.9,...,.501,.324,.361,.480,.519,.829,.860,.539,.595,1
1311,Luka Dončić,19,20,DAL,DAL,72,60,72,60,32.2,...,.574,.327,.315,.497,.530,.713,.755,.545,.584,1

In [119]:
rising_stars = pd.DataFrame()

In [120]:
for year in range(2000,2021):
    # URL page we will scraping (see image above)
    url = "https://www.basketball-reference.com/allstar/NBA_{}_rookie.html".format(year)
    # this is the HTML from the given URL
    html = urlopen(url)
    soup = BeautifulSoup(html)
    # use findALL() to get the column headers
    soup.findAll('tr', limit=2)
    # use getText()to extract the text we need into a list
    headers = [th.getText() for th in soup.findAll('tr', limit=6)[5].findAll('th')]
    # exclude the first column as we will not need the ranking order from Basketball Reference for the analysis
    headers = headers
    # avoid the first header row
    rows = soup.findAll('tr')
    players = [[td.getText() for td in rows[i].findAll(['td','th'])] for i in range(len(rows))]
    rising_stars = pd.concat([rising_stars, pd.DataFrame(players, columns = headers)]).reset_index(drop=True)

In [121]:
# List of all rising stars in NBA

#CLEAN THIS UP
rising_stars

,Player,Tm,MP,FG,FGA,3P,3PA,FT,FTA,ORB,...,AST,STL,BLK,TOV,PF,PTS,FG%,3P%,FT%,Starters
0,,Scoring,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
1,,1,2,OT,T,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
2,Rookies,44,37,11,92,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
3,Sophomores,41,40,2,83,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
4,,Totals,Shooting,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,NaN,WAS,16:15,6,9,1,2,3,4,3,...,0,2,0,0,2,16,.667,.500,.750,Moritz Wagner
657,NaN,DET,16:15,2,11,2,9,0,0,1,...,2,0,0,1,0,6,.182,.222,,Sviatoslav Mykhailiuk
658,NaN,MIN,16:15,2,5,1,4,0,0,2,...,5,0,1,5,1,5,.400,.250,,Josh Okogie
659,NaN,NOP,16:15,1,3,1,2,0,0,1,...,2,0,0,1,0,3,.333,.500,,Nicolò Melli
660,NaN,,200,55,109,12,49,9,12,14,...,32,9,3,12,8,131,.505,.245,.750,Team Totals

In [122]:
risingstarsDict = {}
for player in rising_stars['Starters']:
    risingstarsDict[player] = 1

In [123]:
df['rising_star'] = df['Player'].apply(lambda x: 1 if x in risingstarsDict else 0)

In [124]:
df.head()

,Player,Age_year1,Age_year2,Tm_year1,Tm_year2,G_year1,G_year2,GS_year1,GS_year2,MP_year1,...,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2,all_star,rising_star
0,Maurice Taylor,21,22,LAC,LAC,71,46,3,45,21.3,...,.000,.167,.476,.461,.709,.728,.521,.505,0,0
1,Brandon Williams,22,23,GSW,SAS,9,3,2,0,15.6,...,.333,,.350,,.500,.500,.357,.568,0,0
2,Lawrence Funderburke,27,28,SAC,SAC,52,47,1,2,21.0,...,.143,.200,.491,.560,.679,.708,.534,.597,0,0
3,Jerald Honeycutt,23,24,MIL,TOT,38,16,0,0,13.9,...,.377,.294,.473,.359,.621,.700,.497,.412,0,0
4,Michael Stewart,22,23,SAC,TOR,81,42,37,2,21.7,...,,,.480,.415,.458,.680,.486,.477,0,0

In [125]:
df[df['rising_star'] == 1]

,Player,Age_year1,Age_year2,Tm_year1,Tm_year2,G_year1,G_year2,GS_year1,GS_year2,MP_year1,...,3P%_year1,3P%_year2,eFG%_year1,eFG%_year2,FT%_year1,FT%_year2,TS%_year1,TS%_year2,all_star,rising_star
330,T.J. Ford,20,22,MIL,MIL,55,72,55,70,26.8,...,.238,.337,.391,.438,.816,.754,.443,.489,0,1
351,David West,23,24,NOH,NOH,71,30,1,8,13.1,...,.000,.400,.474,.442,.713,.680,.519,.479,1,1
381,Devin Harris,21,22,DAL,DAL,76,56,19,4,15.4,...,.336,.238,.489,.475,.757,.716,.530,.544,1,1
397,Ben Gordon,21,22,CHI,CHI,82,80,3,47,24.4,...,.405,.435,.474,.494,.863,.787,.526,.531,0,1
402,Luol Deng,19,20,CHI,CHI,61,78,45,56,27.3,...,.265,.269,.458,.474,.741,.750,.496,.517,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,Deandre Ayton,20,21,PHO,PHO,71,37,70,31,30.7,...,.000,.250,.585,.549,.746,.759,.608,.569,0,1
1297,Rodions Kurucs,20,21,BRK,BRK,63,46,46,8,20.5,...,.315,.364,.514,.535,.783,.639,.545,.551,0,1
1311,Luka Dončić,19,20,DAL,DAL,72,60,72,60,32.2,...,.327,.315,.497,.530,.713,.755,.545,.584,1,1
1317,Moritz Wagner,21,22,LAL,WAS,43,44,5,5,10.4,...,.286,.320,.480,.598,.811,.817,.533,.644,0,1
1319,Josh Okogie,20,21,MIN,MIN,74,62,52,28,23.7,...,.279,.266,.445,.479,.728,.796,.492,.553,0,1

In [320]:
df.to_csv('../Data/nba-stats-first2seasons.csv', index=False)